    <div class="fondo">
    <div class="reporte-container">
        <h1>Orden de Trabajo de Mantenimiento Planificado</h1>
        <p><strong>OT Nº:</strong> 20210420_20_ILUM - 001002081001001 - 566</p>
        <p><strong>Código Único de Identificación de Activo:</strong> ILUM - 001002081001001 - 566</p>
        <p><strong>Tipo de Activo:</strong> Iluminación</p>
        <p><strong>Edificio:</strong> Logística 646 - FACULT IV</p>
        <p><strong>Piso / Nivel/Planta:</strong> 28</p>
        <p><strong>Sector:</strong> A28</p>
        <p><strong>Tipo de Mantenimiento:</strong> Mant. Preventivo Planificado</p>
        
        <h2>Instrucciones para la tarea:</h2>
        <ol>
            <li>Señalizar el área de trabajo. Desconectar el suministro eléctrico.</li>
            <li>Verificar la existencia de tensión eléctrica.</li>
            <li>Control de funcionamiento de la totalidad de los equipos.</li>
            <li>Verificación de estados de zócalos y portalámparas.</li>
            <li>Limpieza de luminarias y lámparas.</li>
            <li>Sustitución de lámparas quemadas.</li>
            <li>Verificar y dejar todo en el estado inicial luego de finalizada la actividad.</li>
            <li>Completar la hoja de registros, anomalías y seguros.</li>
        </ol>

        <h2>Fechas:</h2>
        <p><strong>Fecha de Impresión:</strong> 2021-04-20</p>
        <p><strong>Fecha de Realización:</strong> 2021-04-18</p>
        <p><strong>Hora de Realización:</strong> 23:32:22</p>
        
        <h2>Tarea:</h2>
        <p><strong>Tarea Realizada por:</strong> Juan</p>
        <p><strong>Tarea Controlada por:</strong> Rubén</p>
        
        <h2>Observaciones, comentarios y repuestos utilizados:</h2>
        <p>test 325</p>
    </div>
</div>