<div class="fondo">
  <div class="reporte-container">
    <h1>Orden de Trabajo de Mantenimiento Planificado</h1>
    <p>
      <strong>Orden de Trabajo Nº:</strong> {{ orden.concatenacionIds }}
    </p>
    <p>
      <strong>Código Único de Identificación:</strong> {{ orden.concatenacionIds }}
    </p>
    <p><strong>Edificio:</strong> {{ orden.nombre_edificio }}</p>
    <p><strong>Piso:</strong> {{ orden.nombre_piso }}</p>
    <p><strong>Sector:</strong> {{ orden.nombre_sector }}</p>
    <p><strong>Tipo de Activo:</strong> {{ orden.nombre_activo }}</p>
    <p>
      <strong>Tipo de Mantenimiento:</strong> Mantenimiento Preventivo
      Planificado
    </p>

    <h2>Instrucciones para la tarea:</h2>
    <ol>
      <li>Señalice el área de Trabajo.</li>
      <li>Verifique estado general.</li>
      <li>Verifique y lubrique bisagras y/o correderas</li>
      <li>Verifique y lubrique cerraduras.</li>
      <li>Verifique correcta sujección de vidrios.</li>
      <li>Realizar limpieza del equipo.</li>
      <li>Realice verificación de correcto funcionamiento.</li>
      <li>Complete la documentación de mantenimiento</li>
      <li>
        Al finalizar la actividad deje el área y equipo limpios, ordenados y
        seguros.
      </li>
    </ol>

    <h2>Fechas:</h2>
    <p><strong>Fecha de Impresión:</strong> 26/10/2024</p>
    <p><strong>Fecha de Realización:</strong> 26/10/2024</p>
    <p><strong>Hora de Realización:</strong> 19:13:54</p>

    <h2>Tarea:</h2>
    <p><strong>Tarea Realizada por:</strong> Juan</p>
    <p><strong>Tarea Controlada por:</strong> Ana</p>

    <h2>Observaciones, comentarios y repuestos utilizados:</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, sit mollitia
      dolorem illo dicta voluptatibus rerum eveniet necessitatibus aperiam
      voluptas laborum itaque debitis facilis, ipsam quam sint praesentium
      expedita eius id atque exercitationem, in repellat minima. Laborum placeat
      harum vero suscipit, cupiditate temporibus quae hic corrupti unde dolores
      adipisci eius molestiae ex, voluptates quisquam omnis velit perferendis?
      Non, sequi cumque, consequuntur fugit nisi asperiores voluptatum aliquid
      praesentium eveniet inventore placeat libero voluptates cupiditate esse.
    </p>
    <div class="boton-container">
      <button class="boton-imprimir" onclick="window.print()">Imprimir</button>
    </div>
  </div>
</div>
