<div class="fondo">
  <div class="form-container">
    <img
      src="../../../../assets/image/utn2.png"
      alt="UTN FRVT Logo"
      class="logo"
    />
    <form id="orden-form">
      <label for="fecha-impresion">Fecha de Impresión</label>
      <input
        type="datetime-local"
        id="fecha-impresion"
        [(ngModel)]="fechaImpresion"
        name="fechaImpresion"
        required
      />

      <label for="operario">Operario</label>
      <select id="operario" [(ngModel)]="operarioSeleccionado" name="operario" required>
        <option *ngFor="let operario of operarios" [value]="operario.id_usuario">{{ operario.nombre }}</option>
      </select>
      
      <label for="edificio">Edificio</label>
      <select id="edificio" [(ngModel)]="edificioSeleccionado" (change)="onEdificioSeleccionado()" name="edificio" required>
        <option *ngFor="let edificio of edificios" [value]="edificio.id_edificio">{{ edificio.nombre }}</option>
      </select>
      
      <label for="piso">Piso</label>
      <select id="piso" [(ngModel)]="pisoSeleccionado" name="piso" required>
        <option *ngFor="let piso of pisos" [value]="piso.id_piso">{{ piso.nombre }}</option>
      </select>
      
      
      <label for="sector">Sector</label>
      <select id="sector" [(ngModel)]="sectorSeleccionado" name="sector" required>
        <option *ngFor="let sector of sectores" [value]="sector.id_sector">{{ sector.nombre }}</option>
      </select>

      <label for="activo">Activo</label>
      <select id="activo" [(ngModel)]="activo" name="activo" required>
        <option value="">Seleccione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

      <label for="observacion">Observación</label>
      <textarea
        id="observacion"
        [(ngModel)]="observacion"
        name="observacion"
      ></textarea>

      <button type="button" (click)="generarOrden()">Generar Orden</button>
    </form>
  </div>
</div>
