<div class="container">
    <aside class="sidebar">
      <input type="checkbox" id="menu-toggle" class="menu-toggle">
      <label for="menu-toggle" class="hamburger">&#9776;</label>
  
      <nav class="menu">
        <button (click)="setView('ordenes')">Orden de trabajo</button>
        <button (click)="setView('nueva')">Nueva</button>
        <button (click)="setView('lista')">Lista</button>
        <button>Tareas Terminadas</button>
        <button (click)="setView('activo')">Activo</button>
        <button>Tareas Asignadas</button>
        <button>Edificio</button>
        <button>Piso</button>
        <button>Cerrar Sesión</button>
      </nav>
    </aside>
  
    <main class="main-content">
      <!-- Agregar una sección de bienvenida -->
      <section class="welcome-section" *ngIf="currentView === 'presentacion'">
        <h1>Bienvenido, Administrador</h1>
        <p>En esta página encontrarás las siguientes funcionalidades:</p>
  
        <div class="card-container">
          <div class="card">
            <h2>Orden de trabajo</h2>
            <p>Consulta y gestiona tus órdenes de trabajo asignadas.</p>
          </div>
          <div class="card">
            <h2>Nueva</h2>
            <p>Crea una nueva orden de trabajo para iniciar una nueva tarea.</p>
          </div>
          <div class="card">
            <h2>Lista</h2>
            <p>Revisa una lista detallada de todas las órdenes de trabajo pendientes.</p>
          </div>
          <div class="card">
            <h2>Activo</h2>
            <p>Consulta los activos disponibles para el trabajo.</p>
          </div>
          <div class="card">
            <h2>Tareas Terminadas</h2>
            <p>Revisa un historial de las tareas que has completado.</p>
          </div>
          <div class="card">
            <h2>Tareas Asignadas</h2>
            <p>Consulta las tareas que te han sido asignadas.</p>
          </div>
          <div class="card">
            <h2>Edificio y Piso</h2>
            <p>Información sobre los edificios y pisos donde realizarás las tareas.</p>
          </div>
          <div class="card">
            <h2>Cerrar Sesión</h2>
            <p>Este botón sirve para Cerrar Sesión</p>
          </div>
        </div>
      </section>
  
      <!-- Las demás vistas (ordenes, nueva, activo, etc.) -->
      <h1 *ngIf="currentView === 'ordenes'">Vista operario</h1>
      <app-orden-trabajo *ngIf="currentView === 'nueva'"></app-orden-trabajo>
      <app-activos-from *ngIf="currentView === 'activo'"></app-activos-from>
    </main>
  </div>
  
