<tbody>
  <div>
    <tr *ngFor="let orden of ordenes">
      <td>ILUM - 001001045001001 - 296</td>
      <td>{{ orden.fecha_impresion | date : "dd/MM/yyyy" }}</td>
      <td>{{ orden.nombre_usuario }}</td>
      <td>{{ orden.nombre_edificio }}</td>
      <td>{{ orden.nombre_piso }}</td>
      <td>{{ orden.nombre_sector }}</td>
      <td>{{ orden.nombre_activo }}</td>
      <td>{{ orden.realizada ? "Sí" : "No" }}</td>
      <td>
        <button (click)="verDetalle(orden.id_orden_trabajo)">
          <img src="../../assets/image/ver.png" alt="Ver" />
        </button>
        <button (click)="editarOrden(orden.id_orden_trabajo)">
          <img src="../../assets/image/editar.png" alt="Editar" />
        </button>
        <button (click)="eliminarOrden(orden.id_orden_trabajo)">
          <img src="../../assets/image/borrar.png" alt="Borrar" />
        </button>
      </td>
    </tr>
  </div>
</tbody>
