<div class="register-container"> 
  <div class="register-box">
    <img src="../../../../assets/image/utn2.png" alt="UTN FRVT Logo" class="register-logo">
    <h2>Registrarse</h2>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      
      <!-- Campo Nombre -->
      <div class="input-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          [(ngModel)]="user.nombre"
          name="nombre"
          (input)="validateNameRealTime()"
          required
        />
        <small [class.valid]="isNameValid" class="requirement">El nombre es obligatorio</small>
      </div>

      <!-- Campo Email -->
      <label for="email" class="mail">Correo Electrónico:</label>
      <div class="email-input">
        <input
          type="text"
          id="username"
          [(ngModel)]="user.email.username"
          name="username"
          placeholder="tu_email"
          (input)="validateEmailRealTime()"
          required
        />
        <span>&#64;</span>
        <select [(ngModel)]="user.email.domain" name="domain" (change)="validateEmailRealTime()" required>
          <option value="">Selecciona un tipo de correo</option>
          <option value="gmail.com">gmail.com</option>
          <option value="hotmail.com">hotmail.com</option>
          <option value="yahoo.com">yahoo.com</option>
          <option value="outlook.com">outlook.com</option>
        </select>
      </div>
      <small [class.valid]="isEmailValid" class="requirement">Debe ser un email válido y sin espacios</small>

      <!-- Campo Contraseña -->
      <div class="input-group">
        <label for="password">Contraseña</label>
        <div class="password-wrapper">
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            (input)="validatePasswordRealTime()"
            required
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            {{ isPasswordVisible ? 'Ocultar' : 'Mostrar' }}
          </button>
        </div>
        <ul class="password-requirements">
          <li [class.valid]="isPasswordLengthValid">6-16 caracteres</li>
          <li [class.valid]="isPasswordUpperCaseValid">Al menos una letra mayúscula</li>
          <li [class.valid]="isPasswordNumberValid">Al menos un número</li>
          <li [class.valid]="isPasswordNoSpaces">Sin espacios</li>
        </ul>
      </div>

      <button type="submit" class="register-button">Registrarse</button>
    </form>

    <!-- Mensaje de error si el email ya existe o hay algún otro problema -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <p><a href="/login" class="forgot-password">¿Ya tenés cuenta? Iniciar Sesión</a></p>
  </div>
</div>
