<div class="register-container">
    <div class="register-box">
      <img src="../../../../assets/image/utn2.png" alt="UTN FRVT Logo" class="register-logo">
      <h2>Registrarse</h2>
      <form>
        <div class="input-group">
          <label for="username">Usuario</label>
          <input type="text" id="username" name="username" required>
        </div>
        <label for="email" class="mail">Correo Electrónico:</label>
        <div class="email-input">
          <input type="text" id="email" formControlName="username" placeholder="tu_usuario" required>
          <span>&#64;</span>
          <select formControlName="domain" required>
            <option value="">Selecciona un tipo de correo</option>
            <option value="gmail.com">gmail.com</option>
            <option value="hotmail.com">hotmail.com</option>
            <option value="yahoo.com">yahoo.com</option>
            <option value="outlook.com">outlook.com</option>
          </select>
        </div>
        <div class="input-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="register-button">Registrarse</button>
      </form>
    </div>
  </div>
