<div mat-dialog-content class="orden-generada-dialog mi-dialogo">
  <table class="tabla-principal">
    <tr>
      <th colspan="2" class="titulo">
        Orden de Trabajo de Mantenimiento Planificado
      </th>
    </tr>
    <tr>
      <td><strong>OT Nº:</strong> {{ data.concatenacionIds }}</td>
      <td><strong>Código Único de Identificación de Activo:</strong> {{ data.concatenacionIds }}</td>
    </tr>
    <tr>
      <td><strong>Tipo de Activo:</strong> {{ data.nombre_activo }}</td>
      <td><strong>Edificio:</strong> {{ data.nombre_edificio }}</td>
    </tr>
    <tr>
      <td><strong>Piso:</strong> {{ data.nombre_piso }}</td>
      <td><strong>Sector:</strong> {{ data.nombre_sector }}</td>
    </tr>
  </table>

  <h2>Instrucciones para la tarea:</h2>
  <table class="tabla-instrucciones">
    <tr>
      <th>#</th>
      <th>Instrucciones</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Señalice el área de Trabajo.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Verifique estado general.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Verifique y lubrique bisagras y/o correderas.</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Verifique y lubrique cerraduras.</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Verifique correcta sujección de vidrios.</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Realizar limpieza del equipo.</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Realice verificación de correcto funcionamiento.</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Complete la documentación de mantenimiento.</td>
    </tr>
    <tr>
      <td>9</td>
      <td>
        Al finalizar la actividad deje el área y equipo limpios, ordenados y
        seguros.
      </td>
    </tr>
  </table>

  <table class="tabla-fechas">
    <tr>
      <td><strong>Fecha de Impresión:</strong> {{ data.fecha_impresion | date: 'dd/MM/yyyy' }}</td>
      <td><strong>Fecha de Realización:</strong></td>
    </tr>
    <tr>
      <td><strong>Tiempo total utilizado:</strong></td>
      <td><strong>Tarea Realizada por:</strong> {{ data.nombre_usuario }}</td>
    </tr>
    <tr>
      <td><strong>Observaciones:</strong></td>
      <td>{{ data.observacion }}</td>
    </tr>
  </table>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="cerrar()" class="no-imprimir">Cerrar</button>
    <button mat-button (click)="imprimir()" class="no-imprimir">Imprimir</button>
  </mat-dialog-actions>
</div>
