<div mat-dialog-content class="orden-generada-dialog mi-dialogo"> 
    <h1>Orden de Trabajo de Mantenimiento Planificado</h1>
    <p>
      <strong>Orden de Trabajo Nº:</strong> {{ data.concatenacionIds }}
    </p>
    <p>
      <strong>Código Único de Identificación:</strong> {{ data.concatenacionIds }}
    </p>
    <p><strong>Edificio:</strong> {{ data.nombre_edificio }}</p>
    <p><strong>Piso:</strong> {{ data.nombre_piso }}</p>
    <p><strong>Sector:</strong> {{ data.nombre_sector }}</p>
    <p><strong>Tipo de Activo:</strong> {{ data.nombre_activo }}</p>
    <p>
      <strong>Tipo de Mantenimiento:</strong> 
      Mantenimiento Preventivo Planificado 
    </p>
  
    <h2>Instrucciones para la tarea:</h2>
    <ol>
      <li>Señalice el área de Trabajo.</li>
      <li>Verifique estado general.</li>
      <li>Verifique y lubrique bisagras y/o correderas</li>
      <li>Verifique y lubrique cerraduras.</li>
      <li>Verifique correcta sujección de vidrios.</li>
      <li>Realizar limpieza del equipo.</li>
      <li>Realice verificación de correcto funcionamiento.</li>
      <li>Complete la documentación de mantenimiento</li>
      <li>
        Al finalizar la actividad deje el área y equipo limpios, ordenados y
        seguros.
      </li>
    </ol>
  
    <h2>Fechas:</h2>
    <p><strong>Fecha de Impresión:</strong> {{ data.fecha_impresion | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Fecha de Realización:</strong> </p> 
    <p><strong>Hora de Realización:</strong> </p> 
  
    <h2>Tarea:</h2>
    <p><strong>Tarea Realizada por:</strong> {{ data.nombre_usuario }} </p> 
    <p><strong>Tarea Controlada por:</strong> </p> 
  
    <h2>Observaciones, comentarios y repuestos utilizados:</h2>
    <p>{{ data.observacion }}</p> 
  
    <mat-dialog-actions> 
        <button mat-button mat-dialog-close (click)="cerrar()" class="no-imprimir">Cerrar</button>
        <button mat-button (click)="imprimir()" class="no-imprimir">Imprimir</button>
      </mat-dialog-actions>
  </div>
