.orden-generada-dialog {
  background-color: #ffffff;
  border: 1px solid black;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.tabla-principal,
.tabla-instrucciones,
.tabla-fechas {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.tabla-principal th,
.tabla-instrucciones th,
.tabla-fechas th {
  border: 1px solid black;
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.tabla-principal td,
.tabla-instrucciones td,
.tabla-fechas td {
  border: 1px solid black;
  padding: 5px;
}

.tabla-principal .titulo {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #d9d9d9;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.mat-button {
  background-color: #10698c;
  color: white;
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.mat-button:hover {
  background-color: #76acbc;
}
button{
  background-color: #1a1a41;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

@media print {
  body * {
    visibility: hidden;
  }

  .orden-generada-dialog.imprimible,
  .orden-generada-dialog.imprimible * {
    visibility: visible;
  }

  .orden-generada-dialog.imprimible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: none;
    overflow: visible;
  }

  .no-imprimir {
    display: none;
  }
}


  