<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <img src="../../../../assets/image/utn.png" alt="UTN FRVT Logo" class="footer-logo">
        <p>Universidad Tecnológica Nacional<br>
        Facultad Regional Venado Tuerto</p>
      </div>
      <div class="footer-right">
        <p>
          Laprida 651<br>
          Venado Tuerto - Santa Fe<br>
          República Argentina
        </p>
        <p>
          <i class="fas fa-phone-alt"></i> (03462) 431013 / 425534<br>
          <i class="fas fa-clock"></i> 15:00 Hs. A 22:00 Hs.
        </p>
      </div>

    </div>
    <div class="footer-bottom">
      <p>© UTN FRVT 2024</p>
    </div>
  </footer>
  