<div class="container">
  <div class="main-content">
    <h2>Registrar Activo</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Ingrese el nombre"
        [(ngModel)]="nombre"
        required
      />

      <label for="disponibilidad">Disponibilidad:</label>
      <select id="disponibilidad" name="disponibilidad" [(ngModel)]="disponibilidad">
        <option value="1">Disponible</option>
        <option value="0">No Disponible</option>
      </select>

      <label for="tag_diminutivo">Label Tag:</label>
      <input
        type="text"
        id="tag_diminutivo"
        name="tag_diminutivo"
        placeholder="Ingrese el tag"
        [(ngModel)]="tagDiminutivo"
        required
      />
      

      <button type="submit">Registrar Activo</button>
    </form>
    <p *ngIf="message">{{ message }}</p>

   <!-- <h2>Lista de Activos</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tag</th>
          <th>Disponibilidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activo of activos">
          <td>{{ activo.nombre }}</td>
          <td>{{ activo.tag_diminutivo }}</td>
          <td>{{ activo.disponibilidad ? 'Disponible' : 'No Disponible' }}</td>
          <td>
            <button (click)="editActivo(activo)">Editar</button>
            <button (click)="deleteActivo(activo.id_activo)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->
