<div class="container">
  <div class="main-content">
    <form action="#">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Ingrese el nombre"
      />

      <label for="id-tag">ID Tag:</label>
      <input
        type="text"
        id="id-tag"
        name="id-tag"
        placeholder="Ingrese el ID Tag"
      />

      <label for="disponibilidad">Disponibilidad:</label>
      <select id="disponibilidad" name="disponibilidad">
        <option value="disponible">Disponible</option>
        <option value="no-disponible">No Disponible</option>
      </select>

      <label for="label-tag">Label Tag:</label>
      <select id="label-tag" name="label-tag">
        <option value="label1">ILUM</option>
        <option value="label2">AACO</option>
      </select>

      <label for="numero-existencia">Número de Existencia:</label>
      <input
        type="number"
        id="numero-existencia"
        name="numero-existencia"
        placeholder="Ingrese el número de existencia"
      />

      <label for="numero-real">Número Real:</label>
      <input
        type="number"
        id="numero-real"
        name="numero-real"
        placeholder="Ingrese el número real"
      />

      <button type="submit">Registrar Activo</button>
    </form>
  </div>
</div>
