<div class="container">
    <aside class="sidebar">

        <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <label for="menu-toggle" class="hamburger">&#9776;</label>

        <nav class="menu">
            <button>Orden de trabajo</button>
            <button>Nueva</button>
            <button>Lista</button>
            <button>Subbutton 1.3</button>
            <button>Activo</button>
            <button>Tarea</button>
            <button>Edificio</button>
            <button>Piso</button>
            <button>Volver</button>
        </nav>
    </aside>

        <div class="main-content">
            <form action="#">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre">

                <label for="id-tag">ID Tag:</label>
                <input type="text" id="id-tag" name="id-tag" placeholder="Ingrese el ID Tag">

                <label for="disponibilidad">Disponibilidad:</label>
                <select id="disponibilidad" name="disponibilidad">
                    <option value="disponible">Disponible</option>
                    <option value="no-disponible">No Disponible</option>
                </select>

                <label for="label-tag">Label Tag:</label>
                <select id="label-tag" name="label-tag">
                    <option value="label1">Label 1</option>
                    <option value="label2">Label 2</option>
                </select>

                <label for="numero-existencia">Número de Existencia:</label>
                <input type="number" id="numero-existencia" name="numero-existencia" placeholder="Ingrese el número de existencia">

                <label for="numero-real">Número Real:</label>
                <input type="number" id="numero-real" name="numero-real" placeholder="Ingrese el número real">

                <button type="submit">Registrar Activo</button>
            </form>
        </div>
    </div>

