.filter-container {
    display: inline-flex; 
    align-items: center;
    gap: 10px;
    background-color: #11698c;
    padding: 5px 10px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .filter-container label {
    color: white;
    font-weight: bold;
  }
  
  .filter-container select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    color: #11698c;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
  }
  
  .filter-container select:hover {
    background-color: #e5f6fb;
  }
  
  .reset-button {
    background-color: white;
    color: #11698c;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: #76acbc;
    color: black;
  }
  
  .reset-button:disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  thead th {
    background-color: #11698c;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  tbody td {
    padding: 10px;
  }
  
  tbody tr:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .botones {
    display: flex;
    gap: 5px;
  }
  
  .botones button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11698c;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .botones button img {
    max-width: 20px;
    max-height: 20px;
  }
  
  .botones button:hover {
    background-color: #76acbc;
  }