/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: linear-gradient(45deg, #76acbc, #ffffff);
    font-family:'Roboto', Helvetica, Arial, Lucida, sans-serif;
}*/

.sidebar {
    background-color: #ffffffa8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    height: 100vh;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
}

.menu button {
    background-color: #11698c;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
}

.menu button:hover {
    background-color: #76acbc;
    color: rgb(0, 0, 0);
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    width: calc(100% - 200px);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.button {
    display: flex;
}

img{
    max-width: 30px
}

table td button { 
    border: none;
}

thead th {
    background-color:#11698c;
    color: white;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
}
.botones{
    display: flex;
    flex-direction:row;
}
td button{     
    display: flex;
    flex-direction:row;
    gap: 5px;
}

tbody tr:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
}

img:hover {
    filter: saturate(200%);
    transition:all .5s ease-in-out;
}