<div class="container">
  <main class="main-content">
    <h1 *ngIf="currentView === 'ordenes'">Órdenes de trabajo</h1>

    <div class="filter-container">
      <label for="filterColumn">Buscar por:</label>
      <select id="filterColumn" [(ngModel)]="selectedColumn" (change)="actualizarOpciones()">
        <option value="nombre_edificio">Edificio</option>
        <option value="nombre_usuario">Operario</option>
        <option value="nombre_piso">Piso</option>
        <option value="nombre_sector">Sector</option>
        <option value="nombre_activo">Activo</option>
        <option value="realizada">Realizado</option>
      </select>
    
      <select id="filterValue" [(ngModel)]="filterValue" (change)="filtrarOrdenes()">
        <option *ngFor="let opcion of opciones" [value]="opcion">
          {{ selectedColumn === 'realizada' ? opcion : opcion }}
        </option>
      </select>
      
      <button (click)="reiniciarFiltro()" class="reset-button" [disabled]="!filterValue">Reiniciar Filtro</button>
    </div>
    

    <table *ngIf="currentView === 'ordenes'">
      <thead>
        <tr>
          <th>Código Único</th>
          <th>Fecha de Impresión</th>
          <th>Operario</th>
          <th>Edificio</th>
          <th>Piso</th>
          <th>Sector</th>
          <th>Activo</th>
          <th>Realizado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenesFiltradas">
          <td data-label="Código Único">{{ orden.concatenacionIds }}</td>
          <td data-label="Fecha de Impresión">{{ orden.fecha_impresion | date : "dd/MM/yyyy" }}</td>
          <td data-label="Operario">{{ orden.nombre_usuario }}</td>
          <td data-label="Edificio">{{ orden.nombre_edificio }}</td>
          <td data-label="Piso">{{ orden.nombre_piso }}</td>
          <td data-label="Sector">{{ orden.nombre_sector }}</td>
          <td data-label="Activo">{{ orden.nombre_activo }}</td>
          <td data-label="Realizado">{{ orden.realizada ? "Sí" : "No" }}</td>
          <td data-label="Acciones" class="botones">
            <button (click)="verDetalle(orden)">
              <img src="../../assets/image/ver.png" alt="Ver" />
            </button>
            <button (click)="eliminarOrden(orden.id_orden_trabajo)">
              <img src="../../assets/image/borrar.png" alt="Borrar" />
            </button>
          </td>

          <div *ngIf="ordenesFiltradas.length === 0">
            <p>No se encontraron resultados para los filtros aplicados.</p>
          </div>
        </tr>
      </tbody>
    </table>
  </main>
</div>