<div class="container">
  <main class="main-content">
    <h1 *ngIf="currentView === 'ordenes'">Ordenes de trabajo</h1>
    <table *ngIf="currentView === 'ordenes'">
      <thead>
        <tr>
          <th>Codigo Unico</th>
          <th>Fecha de Impresión</th>
          <th>Operario</th>
          <th>Edificio</th>
          <th>Piso</th>
          <th>Sector</th>
          <th>Activo</th>
          <th>Realizado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <thead>
        <app-orden-trabajo-tabla></app-orden-trabajo-tabla>
      </thead>
    </table>

    <!-- Aquí se muestra el componente OrdenTrabajoComponent cuando se selecciona la vista 'nueva' -->
    <app-orden-trabajo *ngIf="currentView === 'nueva'"></app-orden-trabajo>
    <app-activos-from *ngIf="currentView === 'activo'"></app-activos-from>
    <!-- Corregido aquí -->
  </main>
</div>
