.header-container {
  background-color: #0d5478;
  padding: 20px;
  color: white;
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
  font-size: 20px;
  border-bottom: 3px solid #00000049;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  max-width: 150px;
}

.user-name {
  margin-left: auto;
  font-size: 16px;
  color: white;
}
/* Contenedor Principal de Usuario */
.user-info {
  display: flex;
  align-items: center;
  background-color: #11698c;
  padding: 8px 12px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Imagen de Perfil del Usuario */
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Ajusta la imagen para que se vea bien en el círculo */
  margin-right: 10px;
  border: 2px solid #fff;
}

/* Contenedor de Detalles del Usuario */
.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Nombre del Usuario */
.user-name {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

/* Rol del Usuario (opcional) */
.user-role {
  font-size: 12px;
  color: #d1e8f1;
  margin-top: 2px;
  font-style: italic;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }

  .user-name {
    margin-top: 10px;
  }
}