<header class="header-container">
    <div class="header-content">
      <img src="../../../../assets/image/utn3.png" alt="UTN FRVT Logo" class="header-logo">
      
      <nav class="header-nav">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Carreras</a></li>
          <li><a href="#">Inscripción</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
  
      <div class="header-buttons">
        <button class="login-button">Iniciar Sesión</button>
        <button class="signup-button" routerLink="/register">Registrarse</button>
      </div>
    </div>
  </header>
  
