   <div class="body">
   <section class="hero">
        <div class="hero-content">
            <div class="icono">
                <img src="../../../../assets/image/syp.png" alt="Icono Soporte y Mantenimiento">
                <h1>Soporte y Mantenimiento</h1>
                <p>¿Listo para trabajar?</p>
            </div>
            <div class="header-buttons" > <!-- Control de visibilidad de los botones -->
                <button class="login-button" routerLink="login">Iniciar Sesión</button>
                <button class="signup-button" routerLink="/register">Registrarse</button>
              </div>
            </div>
        
    </section>

    <section class="services">
        <h2>Te Brindamos un Sistema de Gestión de Mantenimiento Integral para la UTN</h2>
        <p> Nuestro objetivo es garantizar el funcionamiento continuo y eficiente de las instalaciones y equipos de la facultad. Con nuestro sistema, podrás llevar un control ordenado y preciso de los trabajos de mantenimiento, asegurando una planificación adecuada y un soporte preventivo que te permita enfocarte en las actividades académicas y operativas, mientras nos encargamos de la gestión y el seguimiento del mantenimiento.</p>

        <div class="service-items">
            <div class="service-item">
                <img src="../../../../assets/image/1.png" alt="Icono de Planificación Preventiva">
                <h3>Mantenimiento Preventivo</h3>
                <p>Establecemos un cronograma de mantenimiento para evitar fallos en los equipos e instalaciones, asegurando un funcionamiento continuo y eficiente.</p>
            </div>
            <div class="service-item">
                <img src="../../../../assets/image/2.png" alt="Icono de Seguimiento de Trabajos">
                <h3>Control de Mantenimiento</h3>
                <p>Gestionamos y registramos todas las solicitudes de trabajo, brindando seguimiento detallado de las reparaciones y mejoras realizadas en tiempo real.</p>
            </div>
            <div class="service-item">
                <img src="../../../../assets/image/3.png" alt="Icono de Informes Detallados">
                <h3>Generación de Informes</h3>
                <p>El sistema proporciona informes detallados sobre el estado de los equipos, permitiendo análisis precisos para optimizar las actividades de mantenimiento.</p>
            </div>
            <!-- Más ítems de servicio -->
            <div class="service-item">
                <img src="../../../../assets/image/4.png" alt="Icono de Prioridades">
                <h3>Gestión de Prioridades</h3>
                <p>Clasificamos y priorizamos las tareas de mantenimiento según su urgencia y criticidad, asegurando que los problemas más importantes se resuelvan rápidamente.</p>
            </div>
            <div class="service-item">
                <img src="../../../../assets/image/5.png" alt="Icono de Inventario de Equipos">
                <h3>Gestión de Inventario</h3>
                <p>Llevamos un control detallado del inventario de equipos y herramientas, asegurando que siempre se disponga de los recursos necesarios para realizar las tareas de mantenimiento de manera eficiente.</p>
            </div>
            <div class="service-item">
                <img src="../../../../assets/image/6.png" alt="Icono de Soporte Técnico">
                <h3>Asistencia Técnica 24/7</h3>
                <p>Nuestro equipo está disponible para resolver cualquier inconveniente en las instalaciones y equipos en cualquier momento, brindando soporte continuo.</p>
            </div>
        </div>
    </section>
</div>


